@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');


*
{
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}
body
{
    transition: 1s transform;
    scroll-behavior: smooth;
    color: black;
}


@keyframes refresh
{
    from { margin-top : 20%}
    to{margin-top:0;}
    /* to {transform : scaleY( 20px);}
    from {transform : scaleY( 0);} */
}

.shadow
{
    box-shadow: 0 2px 8px blue;
}
.transparent
{
    background-color: rgba(0,0,0,0.5) ;
}

.nv
{
    position: fixed;
    margin-bottom: 30px;
}


.p12
{
    margin-top: 12%;
}

.p1
{
    animation : refrsh 2s ease;
    position: relative;
    margin-top: 10px;
    height: 100vh;
    box-shadow: 1px 2px 7px white;
    overflow: hidden;
    background: linear-gradient(to top,black,skyblue);
}

.about
{
    text-align: center;
}
.tengah
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowfull
{
    height: 100%;
}

.p2
{
    margin-top: 15px;
    overflow: hidden;
    height: 100vh;
    box-shadow: 1px 2px 7px white;
    /* background: linear-gradient(yellow,orange)} */
}
.logoskil
{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards
{
    margin: 7px;
    width: 250px;
    height: 250px;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.im
{
    font-weight: 400;
    color: red;
    margin:10px;
    margin-top: 20px;
    text-align: center;
}
a{
    text-decoration: none;
    list-style: none;
}

#saya
{
    margin-top:5%;
}

.pages1
{
    position: relative;
}

@media (max-width:600px)
{
#saya
{
    margin-top:-30%;
}


}

@media (min-width:900px)
{
    .pages1
{
    min-height: 100vh;
    position: relative;
}

}



.cardUtama
{
    width:245px ;
    height: 300px;
    background: white;
    margin: 10px;
    object-fit: cover;
    box-sizing: border-box;
}
.cardUtama:hover
{
    opacity: 0.5;
    cursor: pointer;
}
 .card{
    border:none;
}